@model IEnumerable<WatchSales_Ecom.Models.Product>

@{
    ViewData["Title"] = "Home Page";
    int pageSize = 8; // Set the number of items per page
    int pageNumber = (int)(ViewData["PageNumber"] ?? 1);
    int totalItems = Model.Count();
    int totalPages = (int)Math.Ceiling((double)totalItems / pageSize);
    var products = Model.Skip((pageNumber - 1) * pageSize).Take(pageSize);
}

<div class="container">
    <h1 class="display-4 text-center mt-5">Welcome</h1>
    <p class="text-center">Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var item in products)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="~/images/@item.ProductImage" class="card-img-top img-fluid" alt="@item.ProductName" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">@item.ProductName</h5>
                        <p class="card-text">Price: $@item.ProductPrice</p>
                        <p class="card-text">Category: @item.Category.CategoryName</p>
                    </div>
                    <div class="card-footer">
                        @if (User.IsInRole("Customer"))
                        {
                            <form asp-action="AddToCart" asp-controller="Products">
                                <input type="hidden" name="productId" value="@item.ProductId" />
                                <input type="number" name="quantity" value="1" min="1" style="width: 50px;" class="form-control mb-2" />
                                <button type="submit" class="btn btn-primary">Add to Cart</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    @for (int i = 1; i <= totalPages; i++)
                    {
                        <li class="page-item @(i == pageNumber ? "active" : "")">
                            <a class="page-link" href="?PageNumber=@i">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>
